
.header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 10px;
    max-height: 10vh;
    background: transparent;
    border-bottom: 1px solid rgb(212, 208, 208);
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon{
    margin-top: 33px;
    font-size:30px;
}

.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    color: black;
    padding: 10px;
    gap: 1.2rem;
    margin-right: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 15px;
}

.nav-links li{
    font-size: 35px;
    color: black;
}

.anchor-tag{
    color: black;
}